body {
  color: aqua;
}
a {
  text-decoration: none;
}
.social-links .social-links-link:hover,
.social-links .social-links-link:focus {
  text-decoration: underline;
  color: #404bbf;
}
li {
  list-style-type: none;
}

.box {
  border-radius: 10px;
  display: flex;
}

.ggg {
  width: 100px;
  height: 110px;
}

.container {
  max-width: 1128px;
  margin: auto;
  padding: 0 16px;
}

.header-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 8px;
  align-items: center;
}

.post > a {
  position: relative;
  color: var(--common-white);
}
.overlay {
  border-radius: 0px 0px 16px 16px;
  background-color: rgba(18, 18, 22, 0.5);
  padding: 12px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.posts {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .posts {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  .post:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.sub-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}
.socials-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 8px;
}

.social-link {
  display: grid;
  grid-template-columns: 24px 1fr;
  justify-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .sub-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
  }

  .blog {
    gap: 36px;
  }

  .blog-link {
    gap: 24px;
    grid-template-columns: 264px 1fr;
  }

  .socials-title {
    color: var(--grey, #2c2c2c);
    font-family: var(--common-font);
    margin-bottom: 24px;
  }

  .socials-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 8px;
  }

  .social-link {
    padding: 8px;
    color: var(--common-black, #2f2f37);
    border-radius: 16px;
    font-family: var(--common-font);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    justify-items: center;
  }
}

.blog {
  display: grid;
  gap: 48px;
}

.blog-link {
  /* color: var(--common-black); */
  display: grid;
  gap: 20px;
}
.longread {
  display: grid;
  gap: 96px;
}
@media (min-width: 1440px) {
  .longread {
    grid-template-areas:
      'b b s'
      'b b s'
      'b b v'
      'b b .';
    gap: 60px 24px;
  }

  .blog {
    grid-area: b;
  }
  .social {
    grid-area: s;
  }
  .video {
    grid-area: v;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 8px;
}
